<component name="ArtifactManager">
  <artifact type="war" name="SpringQuartzActual:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringQuartzActual.war">
      <element id="artifact" artifact-name="SpringQuartzActual:war exploded" />
    </root>
  </artifact>
</component>